{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
    
 <style>
  button{
    width: fit-content;
    background: red,greenyellow;
    color: turquoise;
  }
 </style>  
</head>
<body>
 <button><a href="{% url 'home' %}">HOME</a></button>
 <button><a href="{% url 'register' %}">REGISTRATION</a></button>
 <button><a href="{% url 'login' %}">LOGIN</a></button>
 {% block body_block %}

{% endblock %}

 <script src="{% static 'js/jquery.js' %}"></script>
 <script src="{% static 'js/popper.js' %}"></script>
 <script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/mdb.js' %}"></script>
   
    
    
</body>
</html>