{% extends 'dumy.html' %}
{% load static %}

{% block tiltle %}
<title>REGISTER</title>
{% endblock %}


{% block body_block %}
<style>
    form{
        background:linear-gradient(violet,indigo,green,yellow,blue,orange);
       
      background-size: 30%;
      width: 20%;
      border-radius: 20px;
      }
button{
  border-radius: 50px;
  background-color:blue;
  padding: 10px;
}
input{
  background: skyblue;
  border-radius: 20px;
  padding-left: 20px;
  align-items:center ;
  
  
 }

    
</style>
<form border="2px">
  <p style="text-align: center;">REGISTER</p>
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <input type="text" id="form3Example1" class="form-control" value="First name" style="n:center;"/>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="text" id="form3Example2" class="form-control" value="Last name" style="align:center;" />
        </div>
      </div>
    </div>
  
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="form3Example3" class="form-control" value="Email address" />
    
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="form3Example4" class="form-control" value="Password"/>
     
    </div>
  
    <!-- Checkbox -->
    <div class="form-check d-flex justify-content-center mb-4">
      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
      <label class="form-check-label" for="form2Example33">
        Subscribe to our newsletter
      </label>
    </div>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
  
    <!-- Register buttons -->
    <div class="text-center">
      <p>or sign up with:</p>
      <button type="button" class="btn btn-secondary btn-floating mx-1">
        <i class="fab fa-facebook-f"></i>
      </button>
  
      <button type="button" class="btn btn-secondary btn-floating mx-1">
        <i class="fab fa-google"></i>
      </button>
  
      <button type="button" class="btn btn-secondary btn-floating mx-1">
        <i class="fab fa-twitter"></i>
      </button>
  
      <button type="button" class="btn btn-secondary btn-floating mx-1">
        <i class="fab fa-github"></i>
      </button>
    </div>
  </form>
{% endblock %}